body{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  margin-top: 5rem;
}
.book .delete-book-button{
  width: 110px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: red;
  font-size: 17px;
  cursor: pointer;
  bottom: 0;
left: 35%;
  position: absolute;
}
.book .delete-book-button:hover{
  opacity: 0.7;
}
.book{
  position: relative;
    width: auto;
   
    height: auto;
    min-height: 30rem;
    min-width: 250px;
    display: inline-block;
    box-shadow: 4px 4px 15px rgba(14, 13, 13, 0.2);
    margin-right: 2rem;
    margin-top: 3rem;
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.bookImage{
  width: 400px;
  height: 250px;
}
.bookContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   width: 80%;
   margin-left: 10%;
}
.book .description{
  margin-bottom: 50px;
}
.edit, .delete{
    cursor: pointer;
}
.title{
    width: 500px;
}

  .add-book-button {
    background-color: chocolate;
    min-width: 90px;
    min-height: 28px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 17px;
    cursor: pointer;
  }
  .add-book-button:hover{
    opacity: 0.7;
  }
  .title-input{
    width: 200px;
    height: 25px;
    border-radius: 20px;
  }
  
  .edit.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .submit-button{
    background-color: chocolate;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 20px;
margin-left: 5px;
    font-size: 17px;
    cursor: pointer;
  }

  @media ( max-width: 767px){
    .bookContainer{
      grid-template-columns: 1fr;
      width: 100%;
      margin-left: 0;
    }
    .bookImage{
      width: 100%;
    }
    .book{
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1217px){
    .bookContainer{
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 20px;
      margin-left: 0;
    }
    .bookImage{
      width: 100%;
    }
    .book{
      width: 100%;
    }
  }