body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #755139FF;
}

.headerContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.headerImage img{

  width: 90%;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;

}
.kidsImage{
  width: 30%;
}

.searchContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerImage h2{
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 40px;
  color: black;
}

.book .delete-book-button{
  width: 110px;
  height: 25px;
  border-radius: 10px;
  border: none;
  background-color: red;
  font-size: 17px;
  cursor: pointer;
  bottom: 0;
left: 35%;
  position: absolute;
}
.book .delete-book-button:hover{
  opacity: 0.7;
}

.bookContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   width: 80%;
   margin-left: 10%;
   gap: 20px;
   margin-top: 30px;
}

.edit, .delete{
    cursor: pointer;
}
.title{
    width: 500px;
}

  .add-book-button {
    margin-top: 10px;
    background-color: chocolate;
    min-width: 90px;
    min-height: 28px;
    width: auto;
    height: auto;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
    font-size: 17px;
    cursor: pointer;
  }

  .book{
    cursor: pointer;
    background-color: #D4B996FF;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212,185,150,.5);
    transition: .5s;
    text-align: center;
    position: relative;
}
.book:hover{
    transform: scale(0.9);
    background-color: rgba(255,255,255,0.8);
}
.book img{
    width: 100%;
    height: 300px;
    border-radius: 1rem 1rem 0 0;
}

  .add-book-button:hover{
    opacity: 0.7;
  }
  .title-input{
    width: 200px;
    height: 25px;
    border-radius: 20px;
  }
  
  .edit.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .submit-button{
    background-color: chocolate;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 20px;
margin-left: 5px;
    font-size: 17px;
    cursor: pointer;
  }
  .overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
  position: relative;
  width: 60%;
  background-color: aliceblue;
  max-height: 80vh;
  overflow: scroll;
}
.modal-header{
  display: grid;
  grid-template-columns: 30% 70%;
  margin-top: 40px;
}
.book-length{
  text-align: center;
}
.modal-header img{
  width: 80%;
  height: 250px;
  margin-left: 30px;
 
}
.content {
  margin-left: 0px;
  width: 50%;
}
.modal-header button{
font-size: 17px;
  border: none;
  width: 100px;
  border-radius: 5px;
  background-color: #24a0ed;
  color: white;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
cursor: pointer;
min-height: 25px;
height: auto;
}
.modal-header button:hover{
  opacity: 0.7;
}
.close{
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}
.description{
  width: 90%;
  line-height: 1.8;
  margin-left: 2%;
}
  @media ( max-width: 767px){
    .headerContainer{
      grid-template-columns: 1fr;
    }
    .headerContainer h2{
font-size: 20px;
top: 10%;
    }
    .bookContainer{
      grid-template-columns: 1fr;
      width: 90%;
      margin-left: 2%;
    }
    .modal{
      width: 100%;
      max-height: 80vh;
      overflow: scroll;
    }
    .description{
      width: 100%;
      
    }
    .modal-header{
      grid-template-columns: 1fr 1fr;
   
    }
    .bookImage{
      width: 100%;
    }
    .book{
      width: 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1217px){
    .bookContainer{
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 20px;
      margin-left: 0;
    }
    .modal-header{
      grid-template-columns: 1fr 1fr;
  
    }
    .headerContainer h2{
      font-size: 20px;
      top: 10%;
          }
    .modal{
      
      max-height: 70vh;
      overflow: scroll;
    }
    .bookImage{
      width: 100%;
    }
    .book{
      width: 100%;
    }
  }