.book-page {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #2c2c2c;
  min-height: 100vh;
  margin-top: 2rem;
}

.book-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  background-color: #3a3a3a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  justify-content: left;
}

.book-image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.book-image img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.book-image img:hover {
  transform: scale(1.05);
}

.book-details {
  flex: 1.5;
  padding: 20px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  justify-content: left;
}

.book-details h1 {
  font-size: 24px;
  margin: 0 0 10px;
}

.author {
  font-size: 16px;
  color: #a0a0a0;
  margin-bottom: 10px;
  cursor: pointer;
}
.author:hover{
  opacity: 0.7;
 color: black;
}

.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.format {
  color: #ff4d4d;
  font-size: 14px;
  margin-bottom: 10px;
}

.quantity {
  font-size: 14px;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-to-cart:hover {
  background-color: #cc3333;
  transition: background-color 0.3s ease;
}

.shipping-note {
  font-size: 14px;
  margin-bottom: 15px;
}

.description h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.description p {
  font-size: 16px;
  line-height: 1.5;
  color: #a0a0a0;
  margin-bottom: 15px;
}

.additional-info p {
  font-size: 14px;
  margin-bottom: 5px;
}

.publication-info p {
  font-size: 14px;
  margin-bottom: 5px;
}

.reviews h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.reviews p {
  font-size: 16px;
  line-height: 1.5;
  color: #a0a0a0;
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.more-info, .watchlist-button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  flex: 1;
  min-width: 150px;
  max-width: 200px;
}

.more-info:hover, .watchlist-button:hover {
  transform: translateY(-2px);
}

.more-info:hover {
  background-color: #666;
}

.watchlist-button {
  background-color: #2ecc71;
}

.watchlist-button:hover {
  background-color: #27ae60;
}

.watchlist-button.remove {
  background-color: #e74c3c;
  min-width: 220px;
}

.watchlist-button.remove:hover {
  background-color: #c0392b;
}

@media (max-width: 767px) {
  .book-container {
    flex-direction: column;
    width: 100%;
  }
  .book-page{
    padding: 0;
  }


}